﻿<p>CellFormatting and RowFormatting events are fired when the state of the respective element is changed. You can use these events to change the style of elements based on certain conditions. You can find additional information on this topic in our online documentation: <a href="http://docs.telerik.com/devtools/winforms/virtualgrid/cells/formatting-data-cells">CellFormatting</a> and <a href="http://docs.telerik.com/devtools/winforms/virtualgrid/rows/formatting-data-rows">RowFormatting</a></p>
<p>*Due to the specifics of the RadVirtualGrid the CellFormatting event is fired for all cells of a given row and only after that is the RowFormatting for this row fired.</p>
<p>**The data presented in the example is randomly generated.</p>

