﻿This example demonstrates how to customize the appearance of the selected cell using its CellStyle property. <p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/gridview-cells-formatting-cells.html">online documentation</a></p>