﻿This example demonstrates how you can add custom drawn graphic to each RadGanttView item.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/ganttview-formatting-custom-paiting.html">online documentation</a></p>