RadRadialGauge offers 10+ style presets and 3 color styles resulting in a total of 30+ gauge styles.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/radialgauge-getting-started.html">online documentation</a></p>