﻿The current example demonstrates how to use RadVirtualGrid validation API in order to ensure correct user input.
<p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/virtualgrid/editing/data-validation">online documentation</a></p>