﻿This example demonstrates how to use layers which ease the work when you have lots of visual elements.<p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/map/features/layers/overview ">online documentation</a></p>