<strong>RadTreeView</strong> supports localization and can be used in multilingual applications.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/treeview-localization-localization.html">online documentation</a></p>