The example presents the Moving Average indicator, a set of Financial indicators, as well as the Ohlc, Hlc and Candlestick series. Use the RadDropDownLists to explore the different indicator types.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/chartview-series-types-indicators.html">online documentation</a></p>
