﻿<p>This example demonstrates a hierarchical data view in <strong>RadVirtualGrid</strong>.You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/virtualgrid/hierarchical-virtual-grid/hierarchical-data">online documentation</a></p>
<p>To build a hierarchy in <strong>RadVirtualGrid</strong> you will need to handle a couple of extra events. <strong>QueryHasChildRows</strong> determines if a row has child rows and could be expanded and <strong>RowExpanding</strong> defines how many child rows there are.</p>