﻿This example showcases the time it takes <strong>RadVirtualGrid</strong> to show <strong>1 billion</strong> cells, while at the same time it resizes 100 000 rows and 500 columns.
<p>You can find additional information regarding RadVirtualGrid in our <a href="http://docs.telerik.com/devtools/winforms/virtualgrid/virtualgrid">online documentation</a></p>