﻿This example demonstrates some of the available settings for customizing the GUI of RadMap.<p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/map/features/minimap">online documentation</a></p>