﻿<p>This example showcases the easy and straightforward way for creating a custom cell for a given column.</p>
<p>All you need is to inherit the <strong>VirtualGridCellElement</strong> class and override the <strong>CreateChildElements</strong> method. Inside the method body you can add any <strong>RadElement</strong> to the cell. When you have the desired cell element use the <strong>CreateCellElement</strong> event to replace the default cell.</p>
<p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/virtualgrid/cells/creating-custom-cells">online documentation</a></p>
