﻿This exmaple demonstrates how to pair <strong>RadVirtualGrid</strong> with a web service. All the data is loaded in the background as well as all the images. Additionally, as the scrollbar nears its current max value, new portion of data is requested from the web service.
<p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/virtualgrid/busy-indicators">online documentation</a></p>