This example demonstrates the capability of <strong>RadTreeView</strong> to handle large numbers of nodes.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/treeview-data-binding-perfomance.html">online documentation</a></p>