﻿RadPivotGrid allows for seamless integration with RadChartView by providing a set of Binding options out-of-the-box.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/pivotgrid-binding-with-radchartview.html">online documentation</a></p>