﻿This example demonstrates how to use the Bing Maps search provider for querying addresses.<p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/map/providers/bingmaps/search">online documentation</a></p>