﻿This example demonstrates how to load and work with an ESRI Shapefile data.<p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/map/file-readers/esri-shapefile-reader">online documentation</a></p>