﻿<b>RadDiagram</b>’s is a control which features creating of diagramming and rich data visualizations such as org charts, flow and process diagrams, etc.
You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/diagram-overview.html">online documentation</a>
