﻿The example demonstrates the annotation support in RadChartView radar chart.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/chartview-features-annotations-gridline.html">online documentation</a></p>