The example demonstrates the Range and RangeBar series.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/chartview-series-types-range.html">online documentation</a></p>