The example demonstrates the funnel chart.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/chartview-series-types-funnel.html">online documentation</a></p>