The example demonstrates the ability of the <b>DragDropService</b> to allow for completely manual control over a drag-and-drop process.
Scenario1 will drag ToolWindow1 and will make it TabbedDocument. Scenario2 will make ToolWindow1 and ToolWindow2 floating and will dock ToolWindow1 at the bottom of ToolWindow1.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/dock-architecture-and-features-using-the-dragdropservice.html">online documentation</a></p>
