﻿This example demonstrates how to use the Bing Maps route provider for querying routes and navigation directions.<p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/map/providers/bingmaps/route">online documentation</a></p>