This example demonstrates the event firing logic of the Telerik <strong>RadScrollBar.</strong><p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/track-and-status-controls-scrollbar-programming-radscrollbars.html">online documentation</a></p>