RadTreeView enables customization of its nodes by using the NodeFormatting event.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/treeview-working-with-nodes-formatting-nodes.html">online documentation</a></p>