﻿This example demonstrates the modern WaitingStyles of <b>RadWaitingBar</b>. <p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/track-and-status-controls/waitingbar/waiting-styles">online documentation</a></p>