This example demonstrates the Telerik <strong>RadScrollBar</strong> and several of its properties.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/track-and-status-controls-scrollbar-overview.html">online documentation</a></p>