﻿<p><strong>RadVirtualGrid</strong> allows data to be displayed in pages. This reduces the amount of data pulled from the database and allows for faster start up speeds.</p>
<p>To take advantage of the paging functionality, all you have to do is, set the <strong>EnablePaging</strong> and <strong>PageSize</strong> properties and that's it. <strong>RadVirtualGrid</strong> will take care of the rest.</p>
<p>You can find additional information on this topic in our <a href="http://docs.telerik.com/devtools/winforms/virtualgrid/paging/paging-overview">online documentation</a></p>