The example demonstrates the functionality of the built-in a RadDock instance <strong>CommandManager</strong>.
The manager exposes intuitive and transparent API for registering and managing commands within a <b>RadDock</b> instance.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/dock-architecture-and-features-using-the-command-manager.html">online documentation</a></p>