The example allows you to customize the line thickness and point size of three RadarLine series.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/chartview-series-types-radar.html">online documentation</a></p>