﻿RadGridView columns can be anchored to the left or right edge. Any grid row can be anchored at top or at bottom of the grid.<p>You can find additional information on this topic in our <a href="http://www.telerik.com/help/winforms/gridview-rows-pinned-rows.html">online documentation</a></p>